<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaxin.my.projects.web.admin.dao.CarouselDAO">

    <select id="selectCarousel" resultType="com.yaxin.my.projects.domain.Carousel">
        SELECT
        picname,
        picstyle

        FROM
        takeaway.my_carousel
    </select>

</mapper>