<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaxin.my.projects.web.admin.dao.OrderDetailDAO">

    <select id="selectByUserid" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT
        g.goodsname,
        o.goodsnum,
        o.goodsprice,
        o.goodssum
        FROM my_order o,
        my_goods g
        WHERE o.goodsid = g.goodsid
        AND o.userid = #{userid}
        AND o.orderid = (SELECT
        MAX(orderid)
        FROM my_order
        WHERE userid = #{userid})
    </select>

    <select id="selectTotal" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT
          SUM(goodssum) AS total
        FROM my_order_detail
        WHERE userid = #{userid}
        GROUP BY orderid
        HAVING MAX(orderid)
    </select>

    <insert id="insertOrderDetail" parameterType="com.yaxin.my.projects.domain.OrderDetail">
        INSERT INTO takeaway.my_order_detail
        (
        orderid,
        goodsid,
        goodsnum,
        userid,
        goodsprice,
        goodssum,
        orderDate,
        deliverid
        )
        VALUES
        <foreach collection="list" index="index" separator="," item="item">
            (
            #{item.orderid},
            #{item.goodsid},
            #{item.goodsnum},
            #{item.userid},
            #{item.goodsprice},
            #{item.goodssum},
            #{item.orderDate},
            #{item.deliverid}
            )
        </foreach>
    </insert>

</mapper>